:root {
  --red: #f40c05;
  --green: #18c93b;
  --white: #fff;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* system font */
  font: caption; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  color: var(--white);
}

.container {
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  grid-template-rows: 41px 58px 6px 36px 64px;
}

.ui-bg {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-size: cover;
  transition: opacity 0.5s linear;
}

.ui-bg-working {
  background-image: linear-gradient(var(--red), #e60b05);
  opacity: 1;
}

.ui-bg-breaking {
  background-image: linear-gradient(var(--green), #17bb3c);
  opacity: 0;
}

.is-breaking .ui-bg-working {
  opacity: 0;
}

.is-breaking .ui-bg-breaking {
  opacity: 1;
}

.slider {
  position: relative;
  left: 297px; /* (600 / 2 - half of width of start line) */
  width: 600px;
  text-align: left;
}

.slider.is-resetting-work {
  transition: 0.5s ease-in-out;
  transform: translateX(-500px);
}

.slider.is-resetting-break {
  transition: 0.5s ease-in-out;
  transform: translateX(-100px);
}

.minute {
  display: inline-block;
  width: 100px;
  margin-left: -5px;
  font-size: 24px;
  font-weight: bold;
}

.ruler {
  width: 505px;
  height: 15px;
  margin-top: 5px;
  background-image:
    linear-gradient(
      90deg,
      #fff 0,
      #fff 5%,
      transparent 5%,
      transparent 20%,
      #fff 20%,
      #fff 22%,
      transparent 22%,
      transparent 40%,
      #fff 40%,
      #fff 42%,
      transparent 42%,
      transparent 60%,
      #fff 60%,
      #fff 62%,
      transparent 62%,
      transparent 80%,
      #fff 80%,
      #fff 82%,
      transparent 82%
    );
  background-repeat: repeat-x;
  background-size: 100px 15px;
}

.groove {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.marker {
  font-size: 1.8em;
}

.controls {
  width: 100%;
  margin-top: 6px;
  text-align: center;
}

.start-btn {
  display: inline-block;
}

.stop-btn {
  display: none;
}

.is-breaking .start-btn,
.is-working .start-btn {
  display: none;
}

.is-breaking .stop-btn,
.is-working .stop-btn {
  display: inline-block;
}

.btn {
  width: 95px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4e0300;
  background-color: var(--white);
  border: 0;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 12px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

.is-working .btn {
  color: var(--red);
}

.btn:active {
  outline: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
