:root {
  --red: #f40c05;
  --white: #fff;
}

html {
  font: caption; /* system font */
  color: var(--white);
  background-color: var(--red);
}

.start-btn {
  display: block;
}

.stop-btn {
  display: none;
}

.is-running .start-btn {
  display: none;
}

.is-running .stop-btn {
  display: block;
}

.btn-controls {
  text-align: center;
}

.btn {
  padding: 0.5em 1.5em;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--red);
  background-color: var(--white);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn:active {
  outline: none;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
}
