:root {
  --red: #f40c05;
  --white: #fff;
}

html {
  font: caption; /* system font */
  color: var(--white);
  background-color: var(--red);
  background-image: linear-gradient(var(--red), #e60b05);
  background-size: cover;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 41px 58px 6px 36px 64px;
}

.slider {
  position: relative;
  left: 297px; /* (600 / 2 - half of width of start line) */
  width: 600px;
  text-align: left;
}

.minute {
  display: inline-block;
  width: 100px;
  margin-left: -5px;
  font-size: 24px;
  font-weight: bold;
}

.ruler {
  width: 505px;
  height: 15px;
  margin-top: 5px;
  background-image:
    linear-gradient(
      90deg,
      #fff 0,
      #fff 5%,
      transparent 5%,
      transparent 20%,
      #fff 20%,
      #fff 22%,
      transparent 22%,
      transparent 40%,
      #fff 40%,
      #fff 42%,
      transparent 42%,
      transparent 60%,
      #fff 60%,
      #fff 62%,
      transparent 62%,
      transparent 80%,
      #fff 80%,
      #fff 82%,
      transparent 82%
    );
  background-repeat: repeat-x;
  background-size: 100px 15px;
}

.groove {
  width: 100%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.marker {
  font-size: 1.5em;
}

.controls {
  width: 100%;
  margin-top: 6px;
  text-align: center;
}

.start-btn {
  display: inline-block;
}

.stop-btn {
  display: none;
}

.is-running .start-btn {
  display: none;
}

.is-running .stop-btn {
  display: inline-block;
}

.btn {
  padding: 0.5em 1.5em;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--red);
  background-color: var(--white);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn:active {
  outline: none;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
}
